body {
  @apply box-border flex justify-center items-center h-screen text-[white] m-0 p-0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #282c34;
}
.App {
  @apply text-center;
}
.movie-list {
  @apply overflow-hidden grid grid-cols-[repeat(5,1fr)] gap-[50px] justify-center;
}
.movie-card {
  @apply overflow-hidden border max-w-[500px] text-center m-[50px] p-[50px] border-solid border-[#ddd];
}
.movie-card img {
  @apply max-w-full h-auto mb-2.5;
}
button {
  @apply bg-[#000303] text-[white] cursor-pointer text-6xl transition-[background-color] duration-[0.3s] ease-[ease] mt-2.5 p-2.5 rounded-[5px] border-[none] hover:bg-[#4fa3d1];
}
.modal {
  @apply fixed w-full h-full flex justify-center items-center left-0 top-0;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  @apply max-w-[800px] max-h-[80vh] overflow-auto p-5;
  background: rgb(68, 3, 3);
}
.modal-content iframe {
  @apply w-full h-full;
}
.modal-content button {
  @apply mt-2.5;
}
